
body {
    padding-left: 5%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px
    padding-right: 5%;
}

/*main container, gives content area width and centers it horizontally
width of wrap will be subtracted from width of the browser window (its container)*/
#wrapper {
max-width:750px;
margin-right:300px;
}

    #main {
	float:left;
	max-width:480px;
	padding:10px;
	background:#FFF;
	margin: 0 auto;
    }
/*Setting position to fixed and margin-left will keep sidebar scrolling on page */
    #sidebar {
	position:fixed;
	right:0;
	width:270px;
	padding-right:75px;
	margin-left:800px;
	overflow:scroll;
    }

#footer {
clear:both;
padding:5px 10px;
}

#nav ul {
margin:0;
padding:0;
list-style:none;
}

#nav li {
display:inline;
margin:0;
padding:0;
}

#sidebar ul {
list-style-type:none;
}


<!--links-->
a:link {
    color: black
}
a:visited {
color: blue
}
a:hover {
font-weight: bold
}
a:active {
font-style: italic
}
.topnavlink {
clear: left; margin-left: 1em; font-size: 1.1em
}
.sidenavlink {
font-size: 1em
}
.footer {
clear: left;
}