p {

}

body {
    padding-left: 5%;
    font-family: 'Roboto', sans-serif;
    font-size: 14px
    padding-right: 10%;
}

small {
    color: gray;
}

#footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
    line-height: 25px;
    background: rgb(215, 40, 21);
    color: white;
    margin-left: 8px;
}

#page-wrap { 
    width: 600px; 
    margin: 15px auto; 
    position: relative; 
}

#sidebar { 
    display: inline;
    width: 190px; 
    position: fixed;
    padding-left: 70%;
}

center {
    text-align: center;
}