on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

name: Build

defaults:
  run:
    shell: bash

jobs:
  build:
    name: Build forcepush
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os:
          - 'ubuntu-latest'
          - 'macos-14'
        node-version:
          - '18'
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{matrix.node-version}}
      - name: Cache dependencies
        id: cache-deps
        uses: actions/cache@v5
        with:
          path: ${{github.workspace}}/node_modules
          key: ${{matrix.os}}-${{matrix.node-version}}-${{ hashFiles('**/package-lock.json')}}
          restore-keys: ${{matrix.os}}-${{matrix.node-version}}-
      - name: Install dependencies
        if: steps.cache-deps.cache-hit != 'true'
        run: npm install --legacy-peer-deps
      - name: Cache build
        id: cache-build
        uses: actions/cache@v5
        with:
          path: ${{github.workspace}}/public
          key: ${{matrix.os}}-${{matrix.node-version}}-${{ hashFiles('**/package-lock.json')}}-${{ hashFiles('content/**')}}
          restore-keys: ${{matrix.os}}-${{matrix.node-version}}-
      - name: Build site
        if: steps.cache-build.cache-hit != 'true'
        run: npm run build
    
